<h1>Delete Person</h1>
<p>Are you sure you want to delete <strong><%= person.name %></strong>?</p>
<form action="/person/<%= person._id %>?_method=DELETE" method="POST">
  <button type="submit">Yes, Delete</button>
</form>
<a href="/person">Cancel</a>
